.register{
    width: 700px;
    height: 600px;
    background-color: rgb(63, 63, 63);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    box-shadow: 0 0 60px 5px white;
    border: 2px solid white;
    &>.google{
        width: 300px;
        height: 40px;
        border: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        transition: 1s;
        color: white;
    }
    &>.google:hover{
        transform: scale(1.1);
        border-color: white;
    }
    &>.name,&>.age{
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        &>.input-div{
            width: 190px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            &>input{
                width: 100%;
                height: 40px;
                border: 0;
                border-bottom: 2px solid;
                padding-left: 10px;
                background-color: rgba(245, 222, 179, 0);
            }
        }
    }
    &>.input-div{
        width: 500px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        &>input{
            width: 100%;
            height: 40px;
            border: 0;
            border-bottom: 2px solid;
            padding-left: 10px;
            background-color: rgba(245, 222, 179, 0);
        }
    }
    &>[type = "submit"]{
        width: 300px;
        height: 50px;
        transition: 1s;
        background: white;
        color: black;
        font-size: 20px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    &>[type = "submit"]:hover{
        transform: scale(1.1);
    }
}


::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1; /* Firefox */
    font-size: 20px;
  }